<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631247204616-ml8fffg5sha34akg5gg8mbkuc6aq157m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631247204616-ml8fffg5sha34akg5gg8mbkuc6aq157m</string>
	<key>API_KEY</key>
	<string>AIzaSyBf0rBLlrSq-VxZ903Ybrlu5fx5Mg022rI</string>
	<key>GCM_SENDER_ID</key>
	<string>631247204616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habit.tracer</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-7c2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-7c2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631247204616:ios:29affa858ce75355e9fcbd</string>
	<key>DATABASE_URL</key>
	<string>https://habit-tracker-7c2ac.firebaseio.com</string>
</dict>
</plist>